@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}
.logout-btn {
  margin: 1em;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
}    

#store {
  width: 90%;
  display: flex;
  flex-flow: row wrap;  
  justify-content: center;
}     

.card{
  width: 20em;
  height: 25em;
  margin: 10px;
  border-color: brown;
}

.card-def{
  height: 13em;
  overflow-x: hidden;
  overflow-y: scroll;
}

#form-container{
  display:flex;
  justify-content: center;
}
#vocab-form{
width: 30rem;  
border-color: brown;
margin: 15px;
}
.form-card{
  height: fit-content;
  width: fit-content;
  border-color: brown;
  
}
.submit-btn{
  margin: 5px;
}
.logo-card{
  height: auto;
  width: fit-content;
  border-color: brown;
}
.card-image{
  height: auto;
  width: 6rem;
}
